{% capture link_handle %}{{ link.title | handle }}{% endcapture %}
{% assign has_dropdown = false %}
{% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}{% assign has_dropdown = true %}{% endif %}

<li class="{% if has_dropdown and section.settings.menu_style == 'below-header' %}has-dropdown{% endif %}{% if use_mega_nav and has_mega_nav == false %} hover-link{% elsif use_mega_nav == false %} hover-link{% endif %}">
  <a href="{{ link.url }}">{{ link.title }}</a>

  {% if has_dropdown and section.settings.menu_style == 'below-header' %}
    <ul>

      {% for link in linklists[link_handle].links %}

        {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
        {% assign has_dropdown = false %}
        {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}{% assign has_dropdown = true %}{% endif %}

        <li class="{% if has_dropdown and use_mega_nav %}has-dropdown{% endif %}">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}

    </ul>
  {% endif %}

</li>
