<div class="pagination">

  <div class="pagination-previous">
    {% if paginate.previous %}
      <a class="button" href="{{ paginate.previous.url }}"><span class="text">{{ 'general.pagination.previous' | t }}</span></a>
    {% else %}
      <span class="button disabled"><span class="text">{{ 'general.pagination.previous' | t }}</span></span>
    {% endif %}
  </div>

  <div class="pagination-position">{{ 'general.pagination.summary' | t: current_page: paginate.current_page, pages: paginate.pages }}</div>

  <div class="pagination-next">
    {% if paginate.next %}
      <a class="button" href="{{ paginate.next.url }}"><span class="text">{{ 'general.pagination.next' | t }}</span></a>
    {% else %}
      <span class="button disabled"><span class="text">{{ 'general.pagination.next' | t }}</span></span>
    {% endif %}
  </div>

</div><!-- .pagination -->
