<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta name="google-site-verification" content="dAnlPi3jH09UZteEVJuje5geLcwrY5qMmSg_bVQxCPI" />
{% include 'guru-theme_scss_css' %}
{% include 'guru-customize_scss_css' %}
{% include 'guru-googlefonts-b0781b48-096b-413e-92fd-cb3a5005d409' %}
<!-- PAGESPEED GURU OPTIMIZED /10/28/2017 6:25:52 AM -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
{% if template == 'index' %}
<title>{{ shop.name }} | {{ page_title }}</title>
{% elsif template == '404' %}
<title>Page Not Found | {{ shop.name }}</title>
{% else %}
<title>{{ page_title }} | {{ shop.name }}</title>
{% endif %}
{% if page_description %}
<meta name="description" content="{{ page_description | escape }}" />
{% endif %}
<link rel="canonical" href="{{ canonical_url }}" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
{{ content_for_header }}
{% include 'social-meta' %}
{% if canonical_url == 'https://popuband.com/apps/help-center' %}
<!-- Start of popuband Zendesk Widget script --> <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="popuband.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}(); /*]]>*/</script> <!-- End of popuband Zendesk Widget script -->
{% endif %}
<!-- Theme CSS -->
<!-- Third Party JS Libraries -->
{% include 'guru-script-modernizr-2_7_1_min_js-4567e66b-e2aa-4ea9-aaf8-1b111ea5e1f5' %}
{% include 'fonts' %}
<!-- Store object -->
{% include 'theme-options' %}
<!-- PAGESPEED GURU THEME EDITOR CONVERSION -->
<script>
function loadAsyncStyleSheets() {
var head = document.getElementsByTagName('head')[0];
var asyncStyleSheets = [
"{{ 'theme.scss.css' | asset_url }}",
"{{ 'customize.scss.css' | asset_url }}",
"{{ 'gift-card.scss.css' | asset_url }}"
]
for (var i = 0; i < asyncStyleSheets.length; i++)
{
var link = document.createElement('link');
var rel = document.createAttribute('rel');
var href = document.createAttribute('href');
rel.value = 'stylesheet';
href.value = asyncStyleSheets[i];
link.setAttributeNode(rel);
link.setAttributeNode(href);
head.appendChild(link);
}
}
window.addEventListener('load', loadAsyncStyleSheets, false);
</script>
</head>
<body class="template-{{ template | replace: '.', '-' | handle }} {% if customer %}customer-logged-in{% endif %}">
{% section 'general-header' %}
<main
class="main-content"
role="main"
data-main-content >
{% unless template contains 'index' or template contains 'product'%}
{% include 'breadcrumbs' %}
{% endunless %}
{{ content_for_layout }}
</main>
{% section 'mailchimp-newsletter' %}
{% section 'general-footer' %}
<!-- Scripts -->
{% include 'guru-script-jquery-1_10_0_min_js-43873e45-9455-418d-aa9f-aa0e3e5b6e1b' %}
{% include 'guru-script-api_jquery-0ea851da22ae87c0290f4eeb24bc8b513ca182f3eb721d147c009ae0f5ce14f9_js-857b3632-f20e-4e6f-be84-8af340434c8a' %}
{% if template contains 'cart' %}
{{ '/services/javascripts/countries.js' | script_tag }}
{{ "shopify_common.js" | shopify_asset_url | script_tag }}
{{ 'jquery.cart.min.js' | asset_url | script_tag }}
{% endif %}
{% if template contains 'customers' %}
{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
{% endif %}
{% if settings.show-currency-switcher %}
{% comment %}{% include 'guru-script-currencies_js-e74e4450-3603-4789-a0ad-c256acab33d7' %}
{% include 'guru-script-currencies_js-e74e4450-3603-4789-a0ad-c256acab33d7' %}
{% endcomment %}
{{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
{{ "jquery.currencies.js" | asset_url | script_tag }}
{% endif %}
{% include 'guru-script-plugins_js-79788801-4dbf-49b2-8992-b57dde5bf4f2' %}
{% include 'guru-script-theme_js-a352a739-0d39-47c8-b822-c4251370b966' %}
{% include 'structured-data' %}
<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END -->
</body>
</html>
