{% layout none %}
<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>
    {{ shop.name }} &ndash; {{ 'password.general.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {% include 'social-meta' %}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Third Party JS Libraries -->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'modernizr-2.7.1.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'modernizr-2.7.1.min.js' | asset_url }}"></script><![endif]-->

  {% include 'fonts' %}

  <!-- Store object -->
  {% include 'theme-options' %}

  {{ content_for_header }}

</head>

<body class="template-password">

  {% comment %}
    TODO: Create and pass arguments to hide/disable features
  {% endcomment %}
  {% section 'general-header' %}

  <main class="main-content password-main-content" role="main">
    <div class="password-inner">
      <h1 class="password-title">{{ 'password.general.opening_soon' | t }}</h1>

        {% if shop.password_message != blank %}
          <p class="password-message">{{ shop.password_message }}</p>
        {% endif %}

        {% section 'general-newsletter' %}

        <div class="module-container password-form-wrapper hidden" data-password-form>
          <div class="module-inner">
            {% form 'storefront_password' %}
              {{ form.errors | default_errors }}
              <div class="inline-field-wrapper {% if form.errors %}has-errors{% endif %}">
                <input
                  class="input-field inline-field-input input-password"
                  type="password"
                  name="password"
                  placeholder="{{ 'password.general.enter_password' | t }}"
                  autofocus>
                <input
                  class="inline-field-submit button"
                  name="submit"
                  type="submit"
                  value="{{ 'password.general.submit' | t }}">
              </div>
            {% endform %}
          </div>
        </div>

        {%- capture password_trigger -%}
          <a href="#" data-password-trigger>
            {{ 'password.general.enter_password' | t }}
          </a>
        {%- endcapture %}

        <p class="password-page-action visible" data-newsletter-toggle>
          {{ 'password.general.password_caption_html' | t: trigger: password_trigger }}
        </p>

        <p class="password-page-action hidden" data-password-toggle>
          <a href="#" data-password-trigger>{{ 'password.general.cancel' | t }}</a>
        </p>
    </div>
  </main>

  <div class="password-main-footer">
    <footer class="main-footer password-inner">
      <div role="contentinfo" class="copyright footer-module">
        {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
        <p>{{ 'general.general.copyright_text_html' | t: year: year }}<br>
          <a href="http://www.pixelunion.net/themes/shopify/startup">Startup theme</a> by <a href="https://www.pixelunion.net">Pixel Union</a>. {{ powered_by_link }}.
        </p>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  {{ 'jquery-1.10.0.min.js' | asset_url | script_tag }}

  {{ 'plugins.js'  | asset_url | script_tag }}
  {{ 'password.js'  | asset_url | script_tag }}

</body>
</html>
